<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="com.oneflow.analytics">

    <uses-permission android:name="android.permission.ACCESS_NETWORK_STATE" />
    <uses-permission android:name="android.permission.ACCESS_WIFI_STATE" />
    <uses-permission android:name="android.permission.INTERNET" />
    <uses-permission android:name="android.permission.READ_PHONE_STATE" />

    <application>
        <activity android:name=".OFProjectSetup" />
        <activity
            android:name=".OFSecondActivity"
            android:exported="false"
            android:theme="@style/Theme.TrySkySDK" />
        <activity
            android:name=".OFFirstActivity"
            android:exported="true"
            android:theme="@style/Theme.TrySkySDK">
<!--            <intent-filter>-->
<!--                <action android:name="android.intent.action.MAIN" />-->

<!--                <category android:name="android.intent.category.LAUNCHER" />-->
<!--            </intent-filter>-->
        </activity>
        <!--
        <action android:name="android.intent.action.VIEW"/>
        <category android:name="android.intent.category.DEFAULT"/>
        <category android:name="android.intent.category.BROWSABLE"/>
        -->
        <!-- android:theme="@style/AppDialog" -->
        <activity
            android:name=".OFSurveyActivityBottom"
            android:theme="@style/CDialogThemeBottom" /> <!-- android:configChanges="orientation|keyboardHidden|screenSize" -->
        <activity
            android:name=".OFSurveyActivityCenter"
            android:theme="@style/CDialogThemeCenter" />
        <activity
            android:name=".OFSurveyActivityBannerTop"
            android:theme="@style/CDialogThemeBannerTop" />
        <activity
            android:name=".OFSurveyActivityBannerBottom"
            android:theme="@style/CDialogThemeBottom" />
        <activity
            android:name=".OFSurveyActivityTop"
            android:theme="@style/CDialogThemeTop" />
        <activity
            android:name=".OFSurveyActivityFullScreen"
            android:theme="@style/CDialogThemeFullScreen" />
        <activity
            android:name=".OFAnnouncementActivityFullScreen"
            android:theme="@style/CDialogThemeFullScreen" />
        <activity
            android:name=".OFFirstLanderActivity"
            android:theme="@style/Theme.OFTransparent" />
        <activity
            android:name=".OFAnnouncementLanderActivity"
            android:theme="@style/Theme.OFTransparent" />
        <activity
            android:name=".OFAnnouncementActivityModel"
            android:exported="false"
            android:theme="@style/CDialogThemeCenter" />
        <activity
            android:name=".OFAnnouncementActivityBannerTop"
            android:exported="false"
            android:theme="@style/CDialogThemeAnnounceBannerTop" />
        <activity
            android:name=".OFAnnouncementActivityBannerBottom"
            android:exported="false"
            android:theme="@style/CDialogThemeAnnounceBannerBottom" />
        <activity
            android:name=".OFAnnouncementActivitySlideTop"
            android:exported="false"
            android:theme="@style/CDialogThemeAnnounceBannerTop" />
        <activity
            android:name=".OFAnnouncementActivitySlideBottom"
            android:exported="false"
            android:theme="@style/CDialogThemeAnnounceBannerBottom" />
    </application>

</manifest>